#container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20vw;
    padding: 20px;
    font-family: Arial;
    background-color: white;
    filter: drop-shadow(1px 1px 5px lightgrey);
    border-radius: 10px;
}
input {
    padding: 5px;
    margin: 10px;
    width: 150px;
    font-family: Arial;
    color: lightgrey;
}

p {
    font-family: Arial;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    background-color: yellowgreen;
    color: white;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

h1 {
    font-size: 2em;
}