li {
    margin-top: 10px;
}
.taxRate {
    font-family: Arial;
    margin: 10px;
}

.depositAmount {
    font-family: Arial;
    margin: 10px;
}

.depositDate {
    font-family: Arial;
    margin: 10px;
}
.data-form-container {
    text-align: right;
}
